.caller{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    
    
}

.calledBalls{
    width: 3em;
}

.bingoBall{
    width: 10em;
}

button{
    
    color: pink;
    background-color: black;
    width: 70px;
    height: 30px;
    border-radius: 40%;
    font-size: large;
    //text-align: center;
    margin: 1%;
}



